/* TODO: Auf grösserem Screen zwei Artikel nebeneinander */

body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

.loading-container {
    display: none; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255);
    z-index: 1000;
    color: #009688;
}

.loader {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #009688; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 0 10%;
}

h1 {
    color: #009688;
    margin: 0;
}

.releasedAt {
    color: #666;
    font-size: 0.8em;
}

button {
    display: inline-block;
    background: #009688;
    color: #fff;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #00796b;
}

.article-container {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.article-container h2 {
    margin-top: 0;
}

.lead {
    font-weight: bold;
    margin-bottom: 20px;
    color: #666;
}

.favorite {
    background: #ffb300 !important;
    color: #fff;
}

.gelesen {
    background: #f44336 !important;
    color: #fff;
}

.favorite:hover {
    background: #ffa000;
}

footer {
    background: #009688; /* Hintergrundfarbe */
    color: #fff; /* Textfarbe */
    padding: 10px 20px; /* Innenabstand */
    position: fixed; /* Fixierte Positionierung */
    bottom: 0; /* Am unteren Rand des Viewports */
    left: 0; /* Am linken Rand des Viewports */
    right: 0; /* Streckt sich bis zum rechten Rand des Viewports */
    display: flex; /* Flex-Container */
    justify-content: space-between; /* Platz zwischen den Kinderelementen */
    align-items: center; /* Zentriert die Elemente vertikal */
}

footer p {
    margin: 0; /* Entfernt den Standardabstand */
}

footer a {
    color: #fff; /* Weißer Text für Links */
    text-decoration: none; /* Entfernt die Unterstreichung von Links */
}

footer a:hover {
    text-decoration: underline; /* Fügt eine Unterstreichung beim Hover hinzu */
}

/* Responsive-Design */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    footer {
        flex-direction: column; /* Stapelt die Elemente auf kleineren Bildschirmen vertikal */
        padding: 10px;
    }

    footer p {
        margin-bottom: 10px; /* Fügt Abstand zwischen den Paragraphen hinzu */
        width: 100%; /* Stellt sicher, dass die Paragraphen die volle Breite einnehmen */
        text-align: center; /* Zentriert den Text */
    }
}

@media screen and (max-width: 1150px) {

    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 0 10%;
    }

    h1 {
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}